* {
  outline-width: 0;
}
body {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Avenir", "Varela Round", "Verdana";
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
}
#main {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  border-radius: 6px;
  overflow: hidden;
  pointer-events: auto;
}
.fade {
  animation: fadein 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
#app {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#appicon {
  position: absolute;
  margin: 0;
  top: 6%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-size: 100% 100%;
  cursor: pointer;
}
#appname {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2%;
}
#appdots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#appdotr {
  position: relative;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
  height: 6px;
}
.appdot {
  display: inline-block;
  position: relative;
  bottom: 12px;
  width: 6px;
  height: 6px;
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
