doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title kappo
        meta(http-equiv='Content-Security-Policy' content="default-src * 'unsafe-inline' 'unsafe-eval'")
        link(rel='stylesheet' href='css/style.css'  type='text/css')
        link(rel='stylesheet' href='css/dark.css' type='text/css', id='style-link')
    body#body
        #main(tabindex="0")
            #app
                #appicon
                #appname
                #appdots
    script.
        require('./kappo')

