
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

font = "Avenir", "Varela Round", "Verdana"

fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

*
    outline-width       0
    
body
    fill-abs()
    margin              0
    overflow            hidden
    font-family         font
    font-size           16px
    cursor              pointer
    -webkit-user-select none
    -webkit-app-region  drag

// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

.main
    fill-abs()
    overflow            hidden
    pointer-events      auto
            
//  0000000   00000000   00000000   
// 000   000  000   000  000   000  
// 000000000  00000000   00000000   
// 000   000  000        000        
// 000   000  000        000        

#app
    fill-abs()
    
#appicon
    position            absolute
    margin              0
    top                 6%
    left                10%
    width               80%
    height              80%
    background-size     100% 100%
    cursor              pointer

#appname
    text-align          center
    position            absolute
    left                0
    right               0
    bottom              2%
        
#appdots
    position            absolute
    bottom              0
    left                0
    right               0

#appdotr
    position            relative
    overflow            visible
    text-align          center
    white-space         nowrap
    height              6px
    
.appdot    
    display             inline-block
    position            relative
    bottom              12px
    width               6px
    height              6px
    